# ==== Datafiler ====
# Ignorer alle Blackboard-eksportar med studentdata
TicksSheet/*.csv

# ==== Genererte PDF-ar ====
# Oppgåvefordeling og gruppeoversikt
GroupAllocation.pdf
GroupOverview.pdf
notat.txt

# ==== Python-artefaktar ====
__pycache__/
*.pyc
*.pyo
*.pyd

SLT/